<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Admin Panel</title>
	<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
			crossorigin="anonymous"
	/>
	<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
			crossorigin="anonymous"
	></script>
</head>
<body>
<header class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between">
	<div class="container-fluid">
		<div th:each="user : ${currentUser}" class="nav-item text-left text-white px-3 navbar-brand">
			<span th:text="${user.username}" class="navbar-brand fw-bold">User</span>
			<span class="navbar-brand">with roles:</span>
			<span th:text="${user.getRolesAsString()}" class="navbar-brand">User</span>
		</div>
		<div class="navbar-nav text-nowrap mr-3">
			<a href="/logout" class="nav-link px-3">logout</a>
		</div>
	</div>
</header>

<div class="d-flex align-items-start" style="margin-top: 1em; padding-right: 2em;">
	<div class="nav flex-column col-md-2 nav-pills p-0 text-white" id="v-pills-tab" role="tablist"
		 aria-orientation="vertical" style="margin-right: 15px">
		<button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home"
				type="button" role="tab" aria-controls="v-pills-home" aria-selected="true" style="text-align: left">
			Admin
		</button>
		<button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
				type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false" style="text-align: left">
			User
		</button>
	</div>

	<div class="tab-content col-lg-10" id="v-pills-tabContent">
		<!-- Admin Panel -->
		<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
			<div class="container-fluid">
				<h1 style="margin-bottom: 1em">Admin Panel</h1>
				<nav>
					<div class="nav nav-tabs" id="nav-tab" role="tablist">
						<button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
								type="button" role="tab" aria-controls="nav-home" aria-selected="true">
							Users table
						</button>
						<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
								type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
							New User
						</button>
					</div>
				</nav>
				<div class="tab-content" id="nav-tabContent">
					<!-- Users table -->
					<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
						<div class="p-3 bg-light border" style="margin-bottom: 1em">
							<h5 class="card-header">All users</h5>
						</div>
						<div class="p-3 border">
							<table class="table table-striped">
								<thead>
								<tr>
									<th scope="col">ID</th>
									<th scope="col">Username</th>
									<th scope="col">First Name</th>
									<th scope="col">Last Name</th>
									<th scope="col">Age</th>
									<th scope="col">Role</th>
									<th scope="col">Edit</th>
									<th scope="col">Delete</th>
								</tr>
								</thead>
								<tbody>
								<tr th:each="user : ${users}" class="align-middle">
									<td th:text="${user.id}"></td>
									<td th:text="${user.username}"></td>
									<td th:text="${user.name}"></td>
									<td th:text="${user.surname}"></td>
									<td th:text="${user.age}"></td>
									<td th:text="${user.getRolesAsString()}"></td>
									<td>
										<button type="button" class="btn btn-success"
												data-bs-toggle="modal"
												data-bs-target="#editModal"
												th:data-user-id="${user.id}"
												th:data-username="${user.username}"
												th:data-name="${user.name}"
												th:data-surname="${user.surname}"
												th:data-age="${user.age}"
												th:data-roles="${#sets.toSet(user.roles.![id])}">
											Edit
										</button>
									</td>
									<td>
										<form th:action="@{/admin/delete/{id}(id=${user.id})}"
											  th:method="POST"
											  onsubmit="return confirm('Вы уверены, что хотите удалить пользователя?')">
											<button type="submit" class="btn btn-danger">
												Delete
											</button>
										</form>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>

					<!-- Add new user form -->
					<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
						<div class="p-3 bg-light border">
							<h5 class="card-header">Add new user</h5>
						</div>
						<div class="d-flex justify-content-center border" style="padding-top: 15px;">
							<form th:method="POST" th:action="@{/admin}" th:object="${newUser}" class="col-md-3" style="text-align: center;">
								<div class="mb-3">
									<label for="username" class="form-label fw-bold">Username</label>
									<input type="text" th:field="*{username}" class="form-control" id="username" placeholder="Username" required/>
									<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></div>
								</div>

								<div class="mb-3">
									<label for="name" class="form-label fw-bold">Name</label>
									<input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name" required/>
									<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></div>
								</div>

								<div class="mb-3">
									<label for="surname" class="form-label fw-bold">Surname</label>
									<input type="text" th:field="*{surname}" class="form-control" id="surname" placeholder="Surname" required/>
									<div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="text-danger"></div>
								</div>

								<div class="mb-3">
									<label for="age" class="form-label fw-bold">Age</label>
									<input type="number" th:field="*{age}" class="form-control" id="age" placeholder="Age" required/>
									<div th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="text-danger"></div>
								</div>

								<div class="mb-3">
									<label for="password" class="form-label fw-bold">Password</label>
									<input type="password" th:field="*{password}" class="form-control" id="password" placeholder="Password" required/>
									<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></div>
								</div>

								<label for="roles" class="fw-bold">Role</label>
								<select class="form-select" id="roles" name="roles" multiple th:size="${#sets.size(allRoles)}" required>
									<option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.name}"></option>
								</select>

								<input class="btn btn-success" type="submit" value="Add new user" style="padding: 0.5em; font-size: 18px; margin: 1em 0;"/>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- User Info Tab -->
		<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
			<h1 style="margin-bottom: 1em">Your Information</h1>
			<div class="p-3 bg-light border" style="margin-bottom: 1em">
				<h5 class="card-header">Your Information</h5>
			</div>
			<div class="p-3 border">
				<table class="table table-striped">
					<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Username</th>
						<th scope="col">First Name</th>
						<th scope="col">Last Name</th>
						<th scope="col">Age</th>
						<th scope="col">Role</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td th:text="${currentUser.id}"></td>
						<td th:text="${currentUser.username}"></td>
						<td th:text="${currentUser.name}"></td>
						<td th:text="${currentUser.surname}"></td>
						<td th:text="${currentUser.age}"></td>
						<td th:text="${currentUser.getRolesAsString()}"></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<script th:inline="javascript">
	/*<![CDATA[*/
	document.addEventListener('DOMContentLoaded', function() {
		// Если есть флаг showNewUserForm, переключаем вкладки
		if ([[${showNewUserForm}]] === true) {
			// Активируем вкладку "Admin" (если не активна)
			const adminTab = document.getElementById('v-pills-home-tab');
			if (!adminTab.classList.contains('active')) {
				new bootstrap.Tab(adminTab).show();
			}

			// Активируем вкладку "New User" внутри "Admin"
			const newUserTab = document.getElementById('nav-profile-tab');
			new bootstrap.Tab(newUserTab).show();
		}
	});
	/*]]>*/
</script>
</body>
</html>
